<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-success pull-right">Today</span>
                  <h5>Total Visitors</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">20</h1>
              </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-success pull-right">Today</span>
                  <h5>Login In</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">30</h1>
              </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-success pull-right">Today</span>
                  <h5>Log out</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">10</h1>
              </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-success pull-right">ALL</span>
                  <h5>Total Visitors</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">40 886,200</h1>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
   		<div class="col-md-12">
   			<div class="mail-box-header">

                    <div class="form-group pull-right" ng-if="facility.permission.pcreate">
                    	<a data-toggle="modal" data-target="#createFacility" class="btn btn-primary btn-xs pull-right" >Add Facility</a>
                    </div>
                    <h2>
                        <i class="fa fa-user"></i> Visitors Log
                    </h2>

                </div>
                <div class="mail-box">
    				<table class="table table-hover table-mail table-condensed">
    	                <tbody>
                        <tr class="unread">
    		                    <td>Visitor Name</td>
    		                    <td class="mail-contact">Company</td>
    		                    <td class="mail-contact">Purpose</td>
    		                    <td class="mail-contact">Contact Person</td>
    		                    <td class="mail-contact">Status</td>
    		                    <td class="mail-contact">Duration</td>
    		                </tr>
                        <tr class="read" ng-repeat="a in visitor.lists">
    		                    <td>{{a.profile}}</td>
    		                    <td class="mail-contact">{{a.company}}</td>
    		                    <td class="mail-contact">{{a.purpose}}</td>
    		                    <td class="mail-contact">{{a.staff}}</td>
    		                    <td class="mail-contact">{{(a.time_out) ? 'Logout' : 'On Premise'}}</td>
    		                    <td ng-if="!a.elapse" class="mail-contact">{{a.created_at | timeAgo}}</td>
    		                    <td ng-if="a.elapse" class="mail-contact">{{a.elapse}}</td>
    		                </tr>

    	                </tbody>
                    </table>
                </div>
   		</div>
   	</div>
</div>
