<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Filter</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Visitors Name</label>
                <input ng-model="visitor.filter.visitor_name" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Date From</label>
                <datepicker date-format="yyyy-MM-dd">
                  <input  ng-model="visitor.filter.date_from" type="text" class="form-control">
                </datepicker>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Date To</label>
                <datepicker date-format="yyyy-MM-dd">
                  <input ng-model="visitor.filter.date_to" type="text" class="form-control">
                </datepicker>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Facility</label>
                <select class="form-control" ng-model="visitor.filter.facility" ng-options="a.id as a.name for a in visitor.data.facilities">
                  <option value="" selected hidden disabled>-Select Facility-</option>
                </select>  
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Company</label>
                <select class="form-control" ng-model="visitor.filter.company" ng-options="a.id as a.name for a in visitor.data.companies | filter:{facility_id:visitor.filter.facility}">
                  <option value="" selected hidden disabled>-Select Company-</option>
                </select>  
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Status</label>
                <select class="form-control" ng-model="visitor.filter.status" ng-options="a.value as a.label for a in visitor.data.states">
                  <option value="" selected hidden disabled>-Select Status-</option>
                </select>  
              </div>
            </div>
          </div>

        </div>
        <div class="ibox-footer text-right">
          <button ng-click="visitor.search(visitor.filter)" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Visitors</h5>
        </div>
        <div class="ibox-content">

          <div class="table-responsive">
            <table class="table table-hover table-condensed issue-tracker">
              <tbody>
                <tr class="unread">
                  <td>Visitor Name</td>
                  <td>Facility</td>
                  <td>Company</td>
                  <td>Purpose</td>
                  <td>Contact Person</td>
                  <td>Status</td>
                  <td>Time In</td>
                  <td>Time Out</td>
                  <td>Duration</td>
                </tr>
                <tr ng-click="visitor.info(a.visitor_id)" class="read" ng-repeat="a in visitor.data.visitors">
                  <td>{{a.fullname}}</td>
                  <td>{{a.facility}}</td>
                  <td>{{a.company}}</td>
                  <td>{{a.purpose}}</td>
                  <td>{{a.staff}}</td>
                  <td>{{(a.time_out) ? 'Logout' : 'On Premise'}}</td>
                  <td>{{a.created_at | date:'MM/dd/yyyy hh:mm:ss a'}}</td>
                  <td>{{a.time_out | date:'MM/dd/yyyy hh:mm:ss a'}}</td>
                  <td ng-if="!a.elapse">{{a.created_at | timeAgo}}</td>
                  <td ng-if="a.elapse">{{a.elapse}}</td>
                </tr>
                <tr>
                  <td ng-if="visitor.data.visitors.length==0" colspan="9" class="text-center">No records</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


