<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a ng-if="company.permission.pcreate" class="btn btn-block btn-primary" data-toggle="modal" data-target="#createCompany">Register New Company</a>

                        <div class="space-25"></div>
                        <h5>FACILITIES</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li ng-repeat="adm in company.facilities">
                                <a>
                                    <i class="fa fa-building"></i> {{adm.name}}
                                    <span class="label label-warning pull-right">{{adm.count}}</span>
                                </a>
                            </li>

                        </ul>
                        <!-- <h5 class="tag-title">Tags</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Health</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Information Technology</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Education</a></li>

                        </ul> -->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight">
            <div ui-view>
                <div class="mail-box-header">

                    <form ng-submit="company.search(company.temp.str)"  class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" ng-model="company.temp.str" class="form-control input-sm" name="search" placeholder="Search Company">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>
                        Companies ({{company.collections.length}})

                    </h2>

                </div>
                <div class="mail-box">
    				<table class="table table-hover table-mail">
    	                <tbody>
                        <tr class="unread" >
    		                    <td>ID</td>
    		                    <td class="mail-contact"><a>Company</a></td>
                            <td>Facility</td>
    		                    <td class="mail-subject"><a>Date Created</a></td>
                            <td></td>
    		                </tr>
    	               		<tr class="read" ng-repeat="com in company.collections">
    		                    <td>{{com.id}}</td>
    		                    <td class="mail-contact"><a>{{com.name}}</a></td>
                            <td><small class="label label-primary">
                                {{com.facility}}
                            </small>
                            </td>
    		                    <td class="mail-subject"><a>{{com.created_at | date:'MMMM dd, yyyy hh:mm:ss a'}}</a></td>
                            <td class="text-right">
                              <button type="button" class="btn btn-primary btn-xs" ui-sref="index.company.detail({id:com.id})" >View</button>
                              <button type="button" class="btn btn-info btn-xs" ng-click="company.edit(com.id)">Edit</button>
                              <button type="button" class="btn btn-danger btn-xs" ng-click="company.remove(com.id, $index)">Delete</button>
                            </td>
    		                </tr>
    		                <!-- <tr class="read">
    		                    <td class="mail-ontact"><a href="mail_detail.html">Facebook</a> <span class="label label-warning pull-right">Clients</span> </td>
    		                    <td class="mail-subject"><a href="mail_detail.html">Many desktop publishing packages and web page editors.</a></td>
    		                    <td class=""></td>
    		                    <td class="text-right mail-date">Jan 16</td>
    		                </tr> -->
    	                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form ng-submit="company.create(company.data)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Company Information</h4>
      </div>
      <form ng-submit="company.create(company.data)">
      <div class="modal-body">
            <div class="row" ng-if="company.access_level==1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Facility</label>
                        <select class="form-control" ng-model="company.data.facility_id" ng-options="a.id as a.name for a in company.facilities">
                            <option value="" disabled hidden selected>-Select Facility-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control" ng-model="company.data.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Unit No.</label>
                        <input type="text" class="form-control" ng-model="company.data.unit_number" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Floor Number</label>
                        <input type="number" min="1" max="1000" class="form-control" ng-model="company.data.floor" required/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>website</label>
                        <input type="text" class="form-control" ng-model="company.data.website"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Company Description</label>
                        <textarea class="form-control" cols="30" rows="4" ng-model="company.data.description"></textarea>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Tags</label>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="input-group span4">
                                    <input type="text" class="form-control input-sm" ng-model="company.temp.tag" placeholder="Tags">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-info" ng-click="company.addtag(company.temp.tag)">
                                            Add Tags
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="tag-list" style="padding: 0">
                            <li ng-repeat="a in company.data.tags track by $index"><a ng-click="company_create.removeTag($index)"><i class="fa fa-tag"></i>{{a}}</a></li>
                        </ul>

                    </div>

                </div>
            </div> -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-if="company.mode=='create'" type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-success" ng-if="company.mode=='edit'" ng-click="company.update()">Update</a>
      </div>
      </form>
    </form>
    </div>
  </div>
</div>
