<div class="logout_wrapper">
	<div class="visitorInfo" ng-if="kiosk_logout.infoWindow">
		<div class="col-sm-4">
			<img class="img-responsive" ng-src="./secret_upload/{{kiosk_logout.visitor_info.image}}">
		</div>
		<div class="col-sm-8">
			<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
				<p style="color:#aaa">Visitor Name :</p>
				<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_logout.visitor_info.name}}</h2>
			</div>
			<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
				<p style="color:#aaa">Company visited :</p>
				<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_logout.visitor_info.company}}</h2>
			</div>
			<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
				<p style="color:#aaa">Contact Person :</p>
				<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_logout.visitor_info.staff}}</h2>
			</div>
			<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
				<p style="color:#aaa">Purpose :</p>
				<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_logout.visitor_info.purpose}}</h2>
			</div>

		</div>
		<div class="clearfix"></div>
		<br>	
		<div class="col-sm-4"></div>	
		<div class="col-sm-8">
			<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-danger btn-block btn-lg" ng-click="kiosk_logout.abort()">Cancel</button>
				</div>
				<div class="col-sm-6">
					<button class="btn btn-primary btn-block btn-lg" ng-click="kiosk_logout.logout()">Confirm Logout</button>
				</div>
			</div>
			
		</div>	
	</div>
</div>
<div class="navigation_wrapper">
	<button class="home_btn2 pull-left" ng-click="kiosk_logout.cancel()"><i class="fa fa-arrow-left"></i></button>
</div>

<qr-camera ng-if="kiosk_logout.qrcamera_window"></qr-camera>
