<div class="middle-box2 text-center animated fadeInDown">
        <div class="clock_wrapper">
            <h2>{{kiosk.clock | date:'MM-dd-yyyy HH:mm:ss a'}}</h2>
        </div>
        <div class="floating_home">
          <i ng-click="kiosk.home()" class="fa fa-home"></i>
        </div>
        <div class="floating_home2">
          <i ng-click="kiosk.logout()" class="fa fa-sign-out"></i>
        </div>
        <div ng-if="kiosk.step==1">
            <div style="font-size:50px;padding:10px">Enter Visitors Name</div>
            <form class="m-t" role="form" ng-submit="search">
                <div class="form-group">
                    <input type="text" style="color:#000;padding:30px;font-size:30px" class="form-control" required="">
                </div>


                <div class="row">
                  <div class="col-sm-4">
                      <button type="button" style="padding:20px;font-size:20px" class="btn btn-primary block full-width">Find</button>
                  </div>
                  <div class="col-sm-4">
                      <a type="button" style="padding:20px;font-size:20px" ng-click="kiosk.step = 2" class="btn btn-primary block full-width">New</a>
                  </div>
                  <div class="col-sm-4">
                      <a type="button" style="padding:20px;font-size:20px" ng-click="kiosk.visitorLogout()" class="btn btn-danger block full-width">Logout</a>
                  </div>
                </div>
            </form>
        </div>

        <div ng-if="kiosk.step==2" >
          <form ng-submit="kiosk.loadCamera()">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                    <!-- <p><b>First Name</b></p> -->
                    <input  style="padding:10px;font-size:25px" type="text" ng-model="kiosk.data.fname" placeholder="First Name" required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                    <!-- <p><b>First Name</b></p> -->
                    <input  style="padding:10px;font-size:25px" type="text" ng-model="kiosk.data.lname" placeholder="Last Name" required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                    <!-- <p><b>First Name</b></p> -->
                    <input  style="padding:10px;font-size:25px" type="text" ng-model="kiosk.data.mname" placeholder="Middle Name" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <select
                  ng-change="kiosk.getCompanyStaff(kiosk.data.company)"
                  style="padding:10px;font-size:25px;min-width:318px"
                  ng-model="kiosk.data.company" ng-options="a.id as a.name for a in kiosk.companies"
                  required>
                    <option value="" selected hidden disabled>-Select Company-</option>
                </select>
              </div>
              <div class="col-lg-4">
                <select
                  style="padding:10px;font-size:25px;min-width:318px"
                  ng-model="kiosk.data.staff"
                  ng-options="a.id as a.name for a in kiosk.staffs"
                  required>
                    <option value="" hidden selected disabled>-Select Staff-</option>
                </select>
              </div>
              <div class="col-lg-4">
                <input  style="padding:10px;font-size:25px" type="text" ng-model="kiosk.data.purpose" placeholder="Purpose" required>
              </div>
            </div>
            <br>
            <a style="padding:20px;font-size:20px;min-width:159px" ng-click="kiosk.step = 1" class="btn btn-danger">Back</a>
            <button type="submit" style="padding:20px;font-size:20px;min-width:159px" class="btn btn-primary">Next</button>
          </form>
        </div>
        <div ng-if="kiosk.step==3">
            <div class="camera_wrapper text-center">
                <div class="camera_container">
                    <canvas id="canvass" height="300" width="400" ng-if="kiosk.canvass"></canvas>
                    <video id="video" height="300" width="400" autoplay></video>
                </div>
            </div>
            <button class="btn btn-danger" style="padding:20px;font-size:20px" ng-click="kiosk.back(2)">Back</button>
            <button ng-if="!kiosk.canvass" class="btn btn-primary" style="padding:20px;font-size:20px" ng-click="kiosk.capture()">Capture</button>
            <button ng-if="kiosk.canvass" class="btn btn-primary" style="padding:20px;font-size:20px" ng-click="kiosk.canvass = false">Retake</button>
            <button class="btn btn-primary" style="padding:20px;font-size:20px" ng-click="kiosk.scanQRCode()">Next</button>
        </div>
        <div ng-if="kiosk.step==4">
            <h4>QR Scanner</h4>
            <video style="width: 400px !important" id="preview"></video>
            <h3>{{kiosk.qrresult}}</h3>

            <input
                type="text"
                style="color:#000;padding:30px;font-size:30px;width:400px;margin:auto"
                ng-model="kiosk.data.identifiction_code"
                class="form-control" required>
            <br>
            <div class="form-group" ng-if="kiosk.mode=='login'">
                <button
                    class="btn btn-danger"
                    style="padding:20px;font-size:20px;width:200px"
                    ng-click="kiosk.back(3)">back
                </button>
                <button
                    class="btn btn-primary"
                    style="padding:20px;font-size:20px;width:200px"
                    ng-click="kiosk.loginVisitor()">Login Visitor
                </button>
            </div>
            <div class="form-group" ng-if="kiosk.mode=='logout'">
                <button
                    class="btn btn-danger"
                    style="padding:20px;font-size:20px;width:200px"
                    ng-click="kiosk.reload()">back
                </button>
                <button
                    class="btn btn-success"
                    style="padding:20px;font-size:20px;width:200px"
                    ng-click="kiosk.logoutVisitor()">Log Out
                </button>
            </div>
        </div>

    </div>
