<div class="wrapper wrapper-content">
    <div class="row">
        
        <div ui-view>
            <div class="col-sm-12 animated fadeInRight">
                <div ui-view>
                    <div class="ibox">
                            <div class="ibox-title">
                                <h5>Identifications</h5>
                                <div class="ibox-tools">

                                    
                                    <a class="btn btn-primary btn-xs" ng-click="identification.addForm()">Add new identifications</a>
                                    <a class="btn btn-success btn-xs" data-toggle="dropdown"> Facilities <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" id="menu3" aria-labelledby="drop6"> 
                                        <li ng-repeat="adm in identification.facilities">
                                            <a ng-click="identification.byFacility(adm.id)">{{adm.name}}</a>
                                        </li> 
                                    </ul> 

                                </div>
                            </div>
                            <div class="ibox-content">
                                
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed issue-tracker">
                                        <tbody>
                                            <tr class="unread">
                                                <td>#</td>
                                                <td>Code</td>
                                                <td>Facility</td>
                                                <td>Date Created</td>
                                            </tr>
                                            <tr class="read" ng-repeat="a in identification.ids | filter:{facility_id:identification.temp.id}">
                                                <td ng-if="a.in_use">
                                                    <span class="label label-warning">In Use</span>
                                                </td>
                                                <td ng-if="!a.in_use">
                                                    <span class="label label-primary">Available</span>
                                                </td>
                                                <td>{{a.code}}</td>
                                                <td>{{a.facility}}</td>
                                                <td class="mail-subject"><a>{{a.created_at | date:'MMMM dd, yyyy hh:mm:ss a'}}</a></td>
                                            </tr>
                                            <!-- <tr>
                                                <td>
                                                    
                                                </td>
                                                <td class="issue-info">
                                                    <a href="#">
                                                        ISSUE-23
                                                    </a>

                                                    <small>
                                                        This is issue with the coresponding note
                                                    </small>
                                                </td>
                                                <td>
                                                    Adrian Novak
                                                </td>
                                                <td>
                                                    12.02.2015 10:00 am
                                                </td>
                                                <td>
                                                   
                                                </td>
                                                <td class="text-right">
                                                    <button class="btn btn-white btn-xs"> Tag</button>
                                                    <button class="btn btn-white btn-xs"> Mag</button>
                                                    <button class="btn btn-white btn-xs"> Rag</button>
                                                </td>
                                            </tr> -->
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
