<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ng-click="identification.addForm()">Add New Identification</a>

                        <div class="space-25"></div>
                        <h5>FACILITIES</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li ng-repeat="adm in identification.facilities">
                                <a>
                                    <i class="fa fa-building"></i> {{adm.name}}
                                    <span class="label label-warning pull-right">{{adm.count}}</span>
                                </a>
                            </li>
                        </ul>
                        <!-- <h5>status</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> Available</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> In-use</a></li>
                        </ul> -->

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight">
            <div ui-view>
                <div class="mail-box-header">
                    <h2>
                        Identification ({{identification.ids.length}})

                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <!-- <div class="btn-group pull-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                        </div> -->
                        <button ng-click="identification.reload()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>

                    </div>
                </div>
                <div class="mail-box">
    				<table class="table table-hover table-mail">
    	                <tbody>
                            <tr class="unread">
                                <td>ID</td>
                                <td>Code</td>
                                <td>Facility</td>
                                <td>Status</td>
                                <td>Availability</td>
                                <td>Date Created</td>
                            </tr>
    	               		<tr class="read" ng-repeat="a in identification.ids">
    		                    <td>{{a.id}}</td>
                                <td class="mail-contact"><a>{{a.code}}</a></td>
                                <td><small class="label label-primary">
                                    {{a.facility}}
                                </small>
                                </td>
                                <td class="mail-contact"><a >{{a.status}}</a></td>
    		                    <td class="mail-contact"><a>{{(a.in_use) ? "No" : "Yes" }}</a></td>
    		                    <td class="mail-subject"><a>{{a.created_at | date:'MMMM dd, yyyy hh:mm:ss a'}}</a></td>
    		                </tr>
    	                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
