<div class="logout_wrapper">
	<div class="row">
		<div class="col-sm-4 text-center">
			<form ng-submit="kiosk_search.find()">
				<div class="input-group">
					<input style="color:#000" type="text" placeholder="Search" class="form-control" ng-model="kiosk_search.data.name"> 
					<span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Find</button> 
                    </span>
                </div>
			</form>
			<br>
			<table class="table table-bordered text-left">
				<tr ng-repeat="a in kiosk_search.result">
					<td>{{a.fullname}}</td>
					<td width="10">
						<button class="btn btn-primary" ng-click="kiosk_search.view(a.visitor_id)">View</button>
					</td>
				</tr>
				<tr ng-if="kiosk_search.data.length==0">
					<td colspan="2" class="text-center">No Data</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-8" ng-if="kiosk_search.visitor_info">
			<div class="col-sm-4">
				<img class="img-responsive" ng-src="./secret_upload/{{kiosk_search.visitor_info.image}}">
			</div>
			<div class="col-sm-8">
				<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
					<p style="color:#aaa">Visitor Name :</p>
					<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_search.visitor_info.fullname}}</h2>
				</div>
				<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
					<p style="color:#aaa">Company visited :</p>
					<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_search.visitor_info.company}}</h2>
				</div>
				<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
					<p style="color:#aaa">Contact Person :</p>
					<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_search.visitor_info.staff}}</h2>
				</div>
				<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
					<p style="color:#aaa">Purpose :</p>
					<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_search.visitor_info.purpose}}</h2>
				</div>
				<div style="border-bottom:1px solid #6d839b;padding: 10px 0">
					<p style="color:#aaa">Status :</p>
					<h2 style="padding:0;margin:0 0 0 10px">{{kiosk_search.visitor_info.status}}</h2>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<button 
							ng-if="kiosk_search.visitor_info.status=='login'" 
							ng-click="kiosk_search.logout()"
							class="btn btn-danger btn-block">
							LOGOUT
						</button> 
						<!-- <button 
							ng-if="kiosk_search.visitor_info.status=='login'"
							ng-click="kiosk_search.login()"
							class="btn btn-primary btn-block">
							RE-LOGIN
						</button> -->
					</div>
				</div>
			</div>
			
			
			
		</div>
	</div>	
</div>
<div class="navigation_wrapper">
	<button class="home_btn2 pull-left" ui-sref="kiosk"><i class="fa fa-arrow-left"></i></button>
	
</div>


