.camera_wrapper{
	min-height:262px;
	width:350px;
	margin:20px auto;
}
.id_preview_wrapper{
	width: 300px;
	height: 450px;
	background: #ccc;
	margin:auto;
}
#canvass{
	height:262px;
	width:350px;
	position: absolute;
	background: #000;
}
.poto_preview{
	height:262px;
	width:350px;
	background: #000;	
}
.camera_container{
	overflow:hidden;
}