<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">
                <div class="profile-image">
                <img src="images/profile_small.jpg" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{company_view.data.name}}
                        </h2>
                        <small><b>{{company_view.data.website}}</b></small>
                        <br>
                        <small>
                            {{company_view.data.description || "No description available"}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td>
                            <strong>{{company_view.data.visitors.length}}</strong> Visit's Today
                        </td>
                        <td>
                            <strong>{{company_view.data.staffs.length}}</strong> Staff
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{company_view.data.visitors.length}}</strong> Total Visitors
                        </td>
                        <td>
                            <strong>54</strong> Blocked Visitor
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>



    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox" ng-if="company.access_level==1">
                <div class="ibox-title">
                    Notification Setting
                </div>
                <div class="ibox-content">
                    <select class="form-control" ng-change="company_view.changeNotification()" ng-options="a.id as a.name for a in company_view.notifications" ng-model="company_view.data.notification">
                        <option value="" hidden selected disabled>-Select Notification-</option>
                    </select>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Staff</h5>
                    <a data-toggle="modal" data-target="#createStaff" class="btn btn-primary btn-xs pull-right" >Add Staff</a>
                </div>
                <div class="ibox-content mail-box">
                    <table class="table table-hover table-mail">
                        <tbody>
                            <tr class="unread" >
                                <td class="mail-subject">Name</td>
                                <td class="mail-contact">Position</td>
                                <td class="mail-contact">Contact</td>
                                <td></td>
                            </tr>
                            <tr class="read" ng-repeat="a in company_view.data.staffs">

                                <td class="mail-subject">{{a.name}}</td>
                                <td class="mail-contact">
                                    {{a.position}}
                                </td>
                                <td class="mail-contact">
                                    {{a.contact}}
                                </td>
                                <td>
                                  <button ng-click="company_view.removeStaff(a.id, $index )" type="button" class="btn btn-danger btn-xs">Delete</button>
                                </td>
                            </tr>
                            <!-- <tr class="read">
                                <td class="mail-ontact"><a href="mail_detail.html">Facebook</a> <span class="label label-warning pull-right">Clients</span> </td>
                                <td class="mail-subject"><a href="mail_detail.html">Many desktop publishing packages and web page editors.</a></td>
                                <td class=""></td>
                                <td class="text-right mail-date">Jan 16</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Visitors Activity</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover table-mail">
                        <tbody>
                            <tr class="unread" >
                                <td class="mail-subject">Name</td>
                                <td class="mail-contact">Time In</td>
                                <td class="mail-contact">Time Out</td>
                                <td class="mail-contact">Duration</td>
                            </tr>
                            <tr class="read" ng-repeat="a in company_view.data.visitors">

                                <td class="mail-subject">{{a.name}}</td>
                                <td class="mail-contact">
                                    {{a.time_in}}
                                </td>
                                <td class="mail-contact">
                                    {{a.time_in}}
                                </td>
                                <td class="mail-contact">
                                    {{a.time_in}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="createStaff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form ng-submit="company_view.addStaff(company_view.staff)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Staff Information</h4>
      </div>
      <div class="modal-body">

            <div class="form-group">
      			<label class="control-label">Position:</label>
      			<input type="text" ng-model="company_view.staff.position" class="form-control"></input>
            </div>
            <div class="form-group">
      			<label class="control-label">First Name:</label>
      			<input type="text" ng-model="company_view.staff.fname" class="form-control"></input>
              </div>
            <div class="form-group">
      			<label class="control-label">Last Name:</label>
      			<input type="text" ng-model="company_view.staff.lname" class="form-control"></input>
              </div>
            <div class="form-group">
      			<label class="control-label">Middle Name:</label>
      			<input type="text" ng-model="company_view.staff.mname" class="form-control"></input>
      		</div>
      		<div class="form-group">
      			<label class="control-label">Contact Number: <small>Must begin 63 not 0 e.g 63915 000 1111</small></label>
      			<input type="text" ng-model="company_view.staff.contact" class="form-control"></input>
      		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
