<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" ui-sref="index.user.create">Create User</a>
                        <div class="space-25"></div>
                        <h5>USER TYPES</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li>
                            	<a> 
                            		<i class="fa fa-th "></i> Administrators 
                            		<span class="label label-warning pull-right">{{a}}</span> 
                            	</a>
                            </li>
                            <li>
                            	<a> 
                            		<i class="fa fa-th "></i> Receptionist 
                            		<span class="label label-warning pull-right">{{a}}</span> 
                            	</a>
                            </li>
                            <li>
                            	<a> 
                            		<i class="fa fa-th "></i> User 
                            		<span class="label label-warning pull-right">{{a}}</span> 
                            	</a>
                            </li>
                        </ul>
                        <h5>status</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> Approved</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> Pendings</a></li>
                        </ul>

                        <h5 class="tag-title">Tags</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Staff</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Admin</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Chicks</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div ui-view>
                <div class="mail-box-header">

                    <form method="get" action="index.html" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>
                        User ({{user.collections.length}})
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group pull-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                        </div>
                        <button ng-click="user.loadUser()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                        
                    </div>
                </div>
                <div class="mail-box">
    				<table class="table table-hover table-mail">
    	                <tbody>
    	               		<tr class="read" ng-repeat="user in user.collections">
    		                    <td>{{user.id}}</td>
    		                    <td class="mail-contact"><a href="mail_detail.html">{{user.name}}</a></td>
    		                    <td class="mail-subject"><a href="mail_detail.html">{{user.created_at | date:'MMMM dd, yyyy hh:mm:ss a'}}</a></td>
    		                </tr>
    		                <!-- <tr class="read">
    		                    <td class="mail-ontact"><a href="mail_detail.html">Facebook</a> <span class="label label-warning pull-right">Clients</span> </td>
    		                    <td class="mail-subject"><a href="mail_detail.html">Many desktop publishing packages and web page editors.</a></td>
    		                    <td class=""></td>
    		                    <td class="text-right mail-date">Jan 16</td>
    		                </tr> -->
    	                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>